extends layout

block content
  div(class="container")
    div(class="jumbotron")
      h1= title
      p(class="lead") A build-your-own treasure hunt that only requires a pocket full of pennies and a smart phone.
      p
        a(class="btn btn-lg btn-success" href="/create-trail") Create a Trail